##########################    SPIN LANE CONFIG    ##########################

#### Dataset params ###########################################################
dataset_name: 'lane'
val_len: 0.1
test_len: 0.2

window: 10  # 时间窗口大小
stride: 1

#### Training params ##########################################################
whiten_prob: [0.0, 0.0, 0.0]
scale_target: True

epochs: 300
loss_fn: l1_loss
lr_scheduler: magic
lr: 0.0008
patience: 40
precision: 16
batch_size: 4
split_batch_in: 2
batches_epoch: 300
gradient_checkpointing: True

#### Model params #############################################################
model_name: 'spin'
hidden_size: 8
eta: 2
n_layers: 3
message_layers: 1
temporal_self_attention: True
reweight: 'softmax'
